page-about {
    ion-card.format-text-list.accordion{

        .item-inner{
            padding: 0 !important;
        }

        ion-item{
            padding: 0 !important;
            min-height: auto;

            &:first-child .item-heading{
                background-color: #6A1B9A;
            }

            &:nth-child(2) .item-heading{
                background-color: #0D47A1;
            }

            &:nth-child(3) .item-heading{
                background-color: #E65100;
            }

            &:nth-child(4) .item-heading{
                background-color: #37474F;
            }

            ion-label{
                margin: 0;
    
                
    
                .item-heading, .item-body{
                    padding: 12px 15px;
                }

                .item-heading{
                    color: #ffffff;

                    ion-icon{
                        float: right;
                    }
                }
    
                .item-body{
                    display: none;
                }
    
                
            }
        }

        

        
        

    }
}
