<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="img-nav" [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
    <ion-navbar>
        <ion-title *ngIf="toggleTitle">{{pageTitle}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="img-nav">
    <div class="header-img">
        <img src="assets/banner/bible.jpg" />
        <div class="header-content">
            <h1>{{pageTitle}}</h1>
        </div>
    </div>

    <ion-card class="format-text-list accordion">

            <ion-item class="ion-item-1">
                <div button class="item-heading item-heading-1" (click)="toggle_tab(1)">Vision
                    <ion-icon [name]="tab === 1 && tab_open === true ? 'arrow-down':'arrow-back'"></ion-icon>
                </div>
                <div class="item-body item-body-1 format-text">
                    <ul>
                        <li>To make heaven, not compromising holiness</li>
                        <li>To take as many people along</li>
                        <li>To raise leaders who would fulfill:
                                <ul>
                                        <li>Their callings and</li>
                                        <li>The vision of exceeding greatness</li>
                                    </ul>
                        </li>
                        <li>To build a people manifesting the spirit of Love, Excellence, Faithfulness, Character and Integrity, who
                                will do the following:
                                <ul>
                                        <li>Evangelise and positively impact the world.</li>
                                        <li>Establish God's government, order and structure</li>
                                        <li>Demonstrate the relevance of Christianity through contemporary and creative expression of our faith.</li>
                                    </ul>
                            </li>
                    </ul>
                </div>
            </ion-item>


            <ion-item class="ion-item-2">
                    <div button class="item-heading item-heading-2" (click)="toggle_tab(2)">Statement Of Faith
                        <ion-icon [name]="tab === 2 && tab_open === true ? 'arrow-down':'arrow-back'"></ion-icon>
                    </div>
                    <div class="item-body item-body-2 format-text">


                                    <h6 ion-text color="primary">GOD THE FATHER</h6>
                                    <p>Creator of Heaven and Earth, who made man in His own image and likeness. </p>
                                    
                                    <h6 ion-text color="primary">JESUS CHRIST </h6>
                                    <p>The only begotten Son of God the Father.</p>
                                    
                                    <h6 ion-text color="primary">THE HOLY SPIRIT  </h6>
                                    <p>The comforter and teacher of all things who dwells within us, uniting us to Jesus Christ. </p>
                                    
                                    <h6 ion-text color="primary">THE DEATH AND RESURRECTION OF JESUS CHRIST  </h6>
                                    <p>That Jesus Christ died on the cross at Calvary for the sins of mankind. He rose from the Dead in His glorified body on the third day, and He ascended into heaven where He is seated at the right hand of God the Father.  </p>
                                    
                                    <h6 ion-text color="primary">THE BLOOD OF JESUS CHRIST  </h6>
                                    <p>Which was shed for us at Calvary. It cleanses us of all sin and grants us access into the presence of God. </p>
                                    
                                    <h6 ion-text color="primary">SALVATION  </h6>
                                    <p>It is a gift from God through grace and faith in Christ Jesus. That all who believe in the name of Jesus Christ may be saved by turning from sin to repentance and are born again by the Holy Spirit through trusting in His death and resurrection. </p>
                                    
                                    <h6 ion-text color="primary">THE BAPTISM OF THE HOLY SPIRIT </h6>
                                    <p>Is available to all who believe in Jesus Christ, and is evidenced by the gift of speaking in tongues. </p>
                                    
                                    <h6 ion-text color="primary">WATER BAPTISM </h6>
                                    <p>By immersion in water as Jesus Christ was baptized. </p>
                                    
                                    <h6 ion-text color="primary">SANCTIFICATION </h6>
                                    <p>Separation from the world unto God - a life of true holiness. </p>
                                    
                                    <h6 ion-text color="primary">THE SECOND COMING OF JESUS CHRIST </h6>
                                    <p>That Jesus Christ will come again to earth in glory and in power. Those dead in Christ will rise first and those alive in Christ will be in the presence of God for eternity. </p>
                                    
                                    <h6 ion-text color="primary">THE HOLY BIBLE </h6>
                                    <p>Is the infallible and authoritative Word of God, given directly to all men and women for salvation. </p>
                                    
                                    <h6  ion-text color="primary">THE MANDATE</h6>
                                    <p>That man was created in the image and likeness of God to be fruitful, to multiply, to replenish the earth, to subdue it, and to have dominion over it. </p>
                                
                    </div>
                </ion-item>

                <ion-item class="ion-item-3">
                        <div button class="item-heading item-heading-3" (click)="toggle_tab(3)">Service Time
                            <ion-icon [name]="tab === 3 && tab_open === true ? 'arrow-down':'arrow-back'"></ion-icon>
                        </div>
                        <div class="item-body item-body-3">
                                
                            

                                <h6>Tuesday: </h6>
                                <p no-margin>Digging For Gold</p>
                                <p no-margin>from 	6:30PM @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                <p no-margin>Holy Communion Service</p>
                                <p no-margin>(First Tuesday after
                                    Thanksgiving Sunday)</p>
                                <p no-margin>from 	6:30PM @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                <p no-margin>Heritage Group</p>
                                <p no-margin>from 5:45PM @ Church Office</p>
                                <hr class="format margin"/>
                                
                                <h6>Wednesday: </h6>
                                <p no-margin>Handmaidens</p>
                                <p no-margin>(Women's Fellowship)</p>
                                <p no-margin>from 	12:30-2PM @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                <h6>Thursday: </h6>
                                <p no-margin>Prayer, Praise & Pentecost</p>
                                <p no-margin>(Except Thursday before Holy Ghost Services)</p>
                                <p no-margin>from	6:30PM @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                
                                <h6>Friday: </h6>
                                <p no-margin>He is Lord Praise Hour</p>
                                <p no-margin>from 	12noon-1PM @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                <p no-margin>Holy Ghost Service </p>
                                <p no-margin>(First Friday)</p>
                                <p no-margin>from 	8:00PM @ Camp</p>
                                <hr class="format margin"/>
                                
                                <p no-margin>Congregational Night Vigil</p>
                                <p no-margin>(Friday before the last Sunday)</p>
                                <p no-margin>from 	11:00PM @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                
                                
                                <h6>Saturday: </h6>
                                <p no-margin>Saturday Morning Prayer Meeting </p>
                                <p no-margin>from 	7-8:30AM  @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                <p no-margin>COD Movie Theatre</p>
                                <p no-margin>from 	5PM @ Junior Church Auditorium </p>
                                <hr class="format margin"/>
                                
                                <p no-margin>Workers' Prayer Conference </p>
                                <p no-margin>(Second Saturday)</p>
                                <p no-margin>from	7AM @  	Junior Church Auditorium  </p>
                                <hr class="format margin"/>
                                
                                
                                
                                <h6>Sunday: </h6>
                                <p no-margin>Perfecting the Saints</p>
                                <p no-margin>from	7:30AM  @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                <p no-margin>Sunrise Service </p>
                                <p no-margin>from 8-10AM  @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                <p no-margin>Sunshine Service </p>
                                <p no-margin>from 10:30-12:30PM  @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                <p no-margin>Thanksgiving Service</p>
                                <p no-margin>(Every First Sunday)</p>
                                <p no-margin>from 	7:30AM @ Sanctuary</p>
                                <hr class="format margin"/>
                                
                                <p no-margin>Nicodemus & CAN Sunday</p>
                                <p no-margin>(Last Sunday)</p>
                                <p no-margin>2 Services  Sanctuary </p>
                                <hr class="format margin"/>
                                
                                <p no-margin>House Fellowships</p>
                                <p no-margin>from 6-7PM  @ Homes</p>
                                <hr class="format margin"/>



                        </div>
                    </ion-item>

            
                    <ion-item class="ion-item-4">
                            <div button class="item-heading item-heading-4" (click)="toggle_tab(4)">Contact Us
                                <ion-icon [name]="tab === 4 && tab_open === true ? 'arrow-down':'arrow-back'"></ion-icon>
                            </div>
                            <div class="item-body item-body-4">
                                    
                                

                                    <h6>Mailing Address: </h6>
                                    <p no-margin>The Redeemed Christian Church of God</p>
                                    <p no-margin>CITY OF DAVID</p>
                                    <p>
                                      COD Church Road<br/>
                                      Off Ligali Ayorinde Street<br/>
                                      Dideolu Estate, Victoria Island <br/>
                                      Lagos State, Nigeria 
                                    </p>
                                    
                                    <h6>Church Office Hours: </h6>
                                    <p>Tuesday – Saturday 9:00AM – 5:00PM</p>
                                    
                                    <h6>Phone Numbers:</h6>
                                    <p>	0700RCCGCOD, 234-01-2703770, 234-01-2705253, 234-01-2705254, 234-01-2705255</p>
                                    
                                    
                                    <h6>Prayer Request Line:</h6>
                                    <p>	234-7035009000 (SMS ONLY)</p>
                                    
                                    <h6>General Email:</h6>
                                    <p>	information.enquiries@cityofdavidng.org</p>
                                    
                                    <h6>Group Visits: </h6>
                                    <p>	follow.up@cityofdavidng.org</p>
                                    
                                    <h6>Youth Ministry:</h6>
                                    <p>j-ville@cityofdavidng.org</p>
                                    
                                    <h6>Women's Ministry:</h6>
                                    <p>handmaidensone2one@cityofdavidng.org</p>
                                    
                                    <h6>Men's Ministry:</h6>
                                    <p>Amen@cityofdavidng.org</p>
                                    
                                    <h6>Prayer Request:</h6>
                                    <p>prayer@cityofdavidng.org</p>


                            </div>
                        </ion-item>
        
    </ion-card>

    


</ion-content>