<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">

    <!--
    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input formControlName="phone" type="number"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.controls['phone'].hasError('required') && loginForm.controls['phone'].touched" class="alert-text alert-text-danger">Phone number is required!</div>
  -->


  <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input formControlName="username" type="name"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched" class="alert-text alert-text-danger">Username is required!</div>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched" class="alert-text alert-text-danger">Password is required!</div>

    <button  ion-button secondary block [disabled]="!loginForm.valid">Login</button>

    <ion-item class="font-size-13" [navPush]="pushForgotPassword"
     text-center button>Forgot password? click here</ion-item>

    <ion-item class="font-size-13" [navPush]="pushRegister"
     text-center button>Not yet registered? click here</ion-item>

  </form>
</ion-content>
