<!--
  Generated template for the AboutStatementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>Statement Of Faith</ion-title>
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding class="format-text">


    <h6 ion-text color="primary">GOD THE FATHER</h6>
    <p>Creator of Heaven and Earth, who made man in His own image and likeness. </p>
    
    <h6 ion-text color="primary">JESUS CHRIST </h6>
    <p>The only begotten Son of God the Father.</p>
    
    <h6 ion-text color="primary">THE HOLY SPIRIT  </h6>
    <p>The comforter and teacher of all things who dwells within us, uniting us to Jesus Christ. </p>
    
    <h6 ion-text color="primary">THE DEATH AND RESURRECTION OF JESUS CHRIST  </h6>
    <p>That Jesus Christ died on the cross at Calvary for the sins of mankind. He rose from the Dead in His glorified body on the third day, and He ascended into heaven where He is seated at the right hand of God the Father.  </p>
    
    <h6 ion-text color="primary">THE BLOOD OF JESUS CHRIST  </h6>
    <p>Which was shed for us at Calvary. It cleanses us of all sin and grants us access into the presence of God. </p>
    
    <h6 ion-text color="primary">SALVATION  </h6>
    <p>It is a gift from God through grace and faith in Christ Jesus. That all who believe in the name of Jesus Christ may be saved by turning from sin to repentance and are born again by the Holy Spirit through trusting in His death and resurrection. </p>
    
    <h6 ion-text color="primary">THE BAPTISM OF THE HOLY SPIRIT </h6>
    <p>Is available to all who believe in Jesus Christ, and is evidenced by the gift of speaking in tongues. </p>
    
    <h6 ion-text color="primary">WATER BAPTISM </h6>
    <p>By immersion in water as Jesus Christ was baptized. </p>
    
    <h6 ion-text color="primary">SANCTIFICATION </h6>
    <p>Separation from the world unto God - a life of true holiness. </p>
    
    <h6 ion-text color="primary">THE SECOND COMING OF JESUS CHRIST </h6>
    <p>That Jesus Christ will come again to earth in glory and in power. Those dead in Christ will rise first and those alive in Christ will be in the presence of God for eternity. </p>
    
    <h6 ion-text color="primary">THE HOLY BIBLE </h6>
    <p>Is the infallible and authoritative Word of God, given directly to all men and women for salvation. </p>
    
    <h6  ion-text color="primary">THE MANDATE</h6>
    <p>That man was created in the image and likeness of God to be fruitful, to multiply, to replenish the earth, to subdue it, and to have dominion over it. </p>

</ion-content>
