<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">



      <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input formControlName="username" type="name"></ion-input>
        </ion-item>
        <div *ngIf="registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched" class="alert-text alert-text-danger">Username is required!</div>
      

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched" class="alert-text alert-text-danger">Password is required!</div>

          <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input formControlName="password_confirm" type="password"></ion-input>
          </ion-item>
          <div *ngIf="registerForm.controls['password_confirm'].hasError('required') && registerForm.controls['password_confirm'].touched" class="alert-text alert-text-danger">Please confrim password!</div>

          <ion-item>
              <ion-label floating>First Name</ion-label>
              <ion-input formControlName="first_name" type="name"></ion-input>
            </ion-item>
            <div *ngIf="registerForm.controls['first_name'].hasError('required') && registerForm.controls['first_name'].touched" class="alert-text alert-text-danger">First name is required!</div>

            <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input formControlName="last_name" type="name"></ion-input>
              </ion-item>
              <div *ngIf="registerForm.controls['last_name'].hasError('required') && registerForm.controls['last_name'].touched" class="alert-text alert-text-danger">Last name is required!</div>

          <ion-item>
              <ion-label floating>Email Address</ion-label>
              <ion-input formControlName="email" 
              email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required></ion-input>
            </ion-item>
            <div *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched" class="alert-text alert-text-danger">Email address is required!</div>
    
            <div *ngIf="registerForm.controls['email'].hasError('email') && registerForm.controls['email'].touched" class="alert-text alert-text-danger">Email address is invalid!</div>

   
    <button ion-button primary block [disabled]="!registerForm.valid">Submit</button>

    <ion-item class="font-size-13" [navPush]="pushLogin"
     text-center button>Already registered? click here</ion-item>

  </form>
</ion-content>
