page-gallery {
    ion-card{
        margin: 0 !important;
        width: 100% !important;
    }

    ion-card-content{
        padding: 0 !important;
        margin: 0 8px !important;
    }

    ion-card-title{
        font-size: 0.9em !important;
        margin: 0 !important;
        white-space: nowrap !important;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
