<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Gallery</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <ion-grid>
        <ion-row>
          <ion-col col-6 *ngFor="let gallery of galleries" (click)="openAlbum(gallery)" >
              <ion-card>
                  <img [src]="gallery.Thumbnail" />
                  <ion-card-content>
                    <ion-card-title>
                        {{ gallery.Title}}
                    </ion-card-title>
                  </ion-card-content>
                </ion-card>
          </ion-col>
        </ion-row>
</ion-grid>

<!-- *ngFor="let video of videos | async" (click)="openVideo(video)" -->
  


<!--
<ion-slides>
  <ion-slide *ngFor="let slide of slides">
    <img [src]="slide.image" class="slide-image"/>
  </ion-slide>
</ion-slides>
-->

</ion-content>
