<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Forgot Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="forgotForm" (ngSubmit)="login(forgotForm.value)">
  <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <div *ngIf="forgotForm.controls['email'].hasError('required') && forgotForm.controls['email'].touched" class="alert-text alert-text-danger">Email address is required!</div>

    <button  ion-button secondary block [disabled]="!forgotForm.valid">Login</button>

    <ion-item class="font-size-13" [navPush]="pushLogin"
     text-center button>To login, click here</ion-item>

  </form>
</ion-content>
