<!--
  Generated template for the BiblePassagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="img-nav" [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar>
    <ion-title *ngIf="toggleTitle">{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="img-nav">
  <div class="header-img">
      <img src="assets/banner/bible.jpg" />
      <div class="header-content">
        <h1>{{pageTitle}}</h1>
      </div>
  </div>

  <div class="empty-page" style="height:auto !important" *ngIf="error?.code">
    <div class="empty-page-content">
      <h6>{{error?.text}}</h6>
      <div ion-text>Status: {{error?.code}}</div>
      <button ion-button color="danger" small (click)="daily_passage()">
        <small>RELOAD</small></button>
    </div>
  </div>

  <ion-card class="format-text-list" *ngIf="show_content">
      <ion-card-header ion-text color="primary" class="font-size-13">{{passage?.reference}}</ion-card-header>
      <ion-card-content [innerHTML]="passage?.text"></ion-card-content>
  </ion-card>



</ion-content>
