<!--
  Generated template for the DonationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="img-nav" [ngClass]="{'hide-header':showheader,'show-header':hideheader}">
  <ion-navbar>
    <ion-title *ngIf="toggleTitle">{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="img-nav">
  <div class="header-img">
      <img src="assets/images/banner-2.jpg" />
      <div class="header-content">
        <h1>{{pageTitle}}</h1>
      </div>
  </div>



  <div padding *ngIf="viewDonate">

    <p>
      "It is more blessed to give than to receive." Acts 20:35 (KJV)
    </p>

    <p>
      At COD we make it a way of life to express our gratitude to God through our tithes and offerings. We encourage you to give as an act of worship.</p>
      <p>
To give, click on 'Purpose' below to select the giving options. 
    </p>

    <form [formGroup]="donationForm" (ngSubmit)="summary(donationForm.value)">
      <ion-item>
        <ion-label floating>Enter Amount</ion-label>
        <ion-input formControlName="amount" type="number" [(ngModel)]="amount"></ion-input>
      </ion-item>
      <div *ngIf="donationForm.controls['amount'].hasError('required') 
          && donationForm.controls['amount'].touched" class="alert-text alert-text-danger">Amount is required!</div>


          <ion-item>
            <ion-label floating>Click To Select Purpose</ion-label>
            <ion-select formControlName="type" [(ngModel)]="type" (ionChange)="setTypeOption($event)">
              <ion-option value="Offering">Offering</ion-option>
              <ion-option value="Tithes">Tithes</ion-option>
              <ion-option value="First fruits">First fruits</ion-option>
              <ion-option value="Sacrificial Seed">Sacrificial Seed</ion-option>
              <ion-option value="Trinity Towers">Trinity Towers</ion-option>
              <ion-option value="Welfare Offering">Welfare Offering</ion-option>
              <ion-option value="Thanksgiving">Thanksgiving</ion-option>
              <ion-option value="Touching Tomorrow Funds">Touching Tomorrow Funds</ion-option>
              <ion-option value="ACCMAD">ACCMAD</ion-option>
              <ion-option value="Charity">Charity</ion-option>
              <ion-option value="CAN Evangelism">CAN Evangelism</ion-option>
              <ion-option value="Others">Others</ion-option>
            </ion-select>
          </ion-item>
          <div *ngIf="donationForm.controls['type'].hasError('required') 
          && donationForm.controls['type'].touched" class="alert-text alert-text-danger">Purpose is required!</div>

          <ion-item *ngIf="showTypeOthers">
            <ion-label floating>Other Purpose</ion-label>
            <ion-input formControlName="type_others" type="text" [(ngModel)]="type_others"></ion-input>
          </ion-item>

      <button *ngIf="auth" ion-button secondary block>Continue</button>
    </form>

    

    <div padding-top padding-bottom *ngIf="!auth">
      To continue, please <a  (click)="pushLogin()" class="cursor-pointer">
            <strong>Login</strong></a> and if you are a new member, kindly <a (click)="pushRegister()" class="cursor-pointer">
              <strong>Register here</strong></a>
    </div>
  </div>


  <div padding *ngIf="viewSummary">
    <h2>Summary</h2>
    <ion-list>
        <ion-item>
            Purpose
            <ion-note item-end>{{purpose}}</ion-note>
          </ion-item>
      <ion-item>
        Amount
        <ion-note item-end>{{amount | number : '1.2-2'}} NGN</ion-note>
      </ion-item>

      <ion-item>
        Payment Ref. No.
        <ion-note item-end>{{ref}}</ion-note>
      </ion-item>

      <ion-item>
        Payment Fee
        <ion-note item-end>{{commission | number : '1.2-2'}} NGN</ion-note>
      </ion-item>

      <ion-item>
        Total Payment
        <ion-note item-end>{{total | number : '1.2-2'}} NGN</ion-note>
      </ion-item>

    </ion-list>

    
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <button ion-button block color="light" (click)="_viewDonate()">Return</button>
        </ion-col>
        <ion-col col-9>
          <button ion-button secondary block (click)="payStack()">Pay</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div padding *ngIf="viewDone">
    <h2 ion-text color="secondary">Giving Successful!</h2>
    <p>You transaction was successful, see details below:</p>
    <ion-list>
        <ion-item>
            Purpose
            <ion-note item-end>{{purpose}}</ion-note>
          </ion-item>

      <ion-item>
       Amount
        <ion-note item-end>{{amount | number : '1.2-2'}} NGN</ion-note>
      </ion-item>

      <ion-item>
        Payment Ref. No.
        <ion-note item-end>{{ref}}</ion-note>
      </ion-item>

      <ion-item>
        Status
        <ion-note item-end ion-text color="secondary">{{transactionStatusMsg}}</ion-note>
      </ion-item>

      <ion-item>
        Date
        <ion-note item-end>{{date}}</ion-note>
      </ion-item>

      <ion-item>
        Payment Fee
        <ion-note item-end>{{commission | number : '1.2-2'}} NGN</ion-note>
      </ion-item>

      <ion-item>
        Total Payment
        <ion-note item-end>{{total | number : '1.2-2'}} NGN</ion-note>
      </ion-item>

    </ion-list>

    <button ion-button secondary block (click)="_reset()" >Make Another Payment</button>
  </div>




</ion-content>