<!--
  Generated template for the MyPledgeDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pledge Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

    <div class="empty-page notify error" *ngIf="showError">
        <div class="empty-page-content">
            <ion-icon no-margin name="close-circle" ion-text color="danger" class="font-size-40"></ion-icon>
          <h6>A transactional error occured!</h6>
          <p>If you noticed you have been billed, please contact the administrator</p>
          <a (click)="_reset()">Click here to try again</a>
        </div>
      </div>
    
  <div *ngIf="viewDetails">

        <h4 ion-text color="secondary" padding-left>{{pledge?.name}} </h4>
        <ion-list>
            <ion-item>
                Amount Pledged
                <ion-note item-end>{{pledged_amount | number : '1.2-2'}} NGN</ion-note>
              </ion-item>
    
          <ion-item>
           Total Paid
            <ion-note item-end>{{amount_paid | number : '1.2-2'}} NGN</ion-note>
          </ion-item>
    
          <ion-item>
            Total Pending
            <ion-note item-end>{{amount_pending | number : '1.2-2'}} NGN</ion-note>
          </ion-item>
    
        </ion-list>
    
      <div padding-left padding-right>
        <button ion-button secondary block (click)="_viewPledge()">Redeem Pledge</button>
      </div>

    </div>






      <div padding *ngIf="viewPledge">
          <form [formGroup]="pledgeForm" (ngSubmit)="summary(pledgeForm.value)">
              
              <ion-item>
                <ion-label floating>Amount To Redeem</ion-label>
                <ion-input formControlName="amount" type="number" [(ngModel)]="amount"></ion-input>
              </ion-item>
      
              <button ion-button primary block >Continue</button>
      
          </form>
      </div>





      



        <div padding *ngIf="viewSummary">
          <h2>Summary</h2>
          <ion-list>
              <ion-item *ngIf="summaryDone">
                  Payment Status
                  <ion-note item-end>{{transactionStatusMsg}}</ion-note>
                </ion-item>

            <ion-item>
              Amount
              <ion-note item-end>{{amount | number : '1.2-2'}} NGN</ion-note>
            </ion-item>
      
            <ion-item>
              Payment Ref. No.
              <ion-note item-end>{{ref}}</ion-note>
            </ion-item>
      
            <ion-item>
              Payment Fee
              <ion-note item-end>{{commission | number : '1.2-2'}} NGN</ion-note>
            </ion-item>
      
            <ion-item>
              Total Payment
              <ion-note item-end>{{total | number : '1.2-2'}} NGN</ion-note>
            </ion-item>
      
          </ion-list>
      
          
          <ion-grid *ngIf="!summaryDone">
            <ion-row>
              <ion-col col-4>
                <button ion-button block color="light" (click)="_viewPledge()">Return</button>
              </ion-col>
              <ion-col col-8>
                <button ion-button secondary block (click)="payStack()">Pay</button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <button *ngIf="summaryDone" ion-button secondary block (click)="_reset()" >Make Another Payment</button>
        </div>



</ion-content>


