<!--
  Generated template for the LiveRadioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Live Radio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <iframe src="https://mixlr.com/users/6209211/embed" width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>
</ion-content>
