<!--
  Generated template for the PledgesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>Make A Pledge</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

    <ion-card class="cursor-pointer" *ngFor="let pledge of pledges" (click)="pushDetails(pledge)">

        <img *ngIf="pledge.id === 4" src="{{site_url}}/images/towers.jpg"/>
        <ion-card-content>
          <ion-card-title>
              {{pledge.name}}
            </ion-card-title>
<hr/>
          <button ion-button dark block small>View Details</button>
        </ion-card-content>

        
      </ion-card>
      
      
</ion-content>
