<!--
  Generated template for the SermonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
      <ion-title>Sermons</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content no-bounce>

    <div class="empty-page" *ngIf="error?.code">
        <div class="empty-page-content">
          <h6>{{error?.text}}</h6>
          <small ion-text color="info">Status: {{error?.code}}</small>
        </div>
      </div>

  <ion-card *ngFor="let video of videos | async" (click)="openVideo(video)">

      <ion-icon name="logo-youtube"></ion-icon>

    <img [src]="video?.snippet.thumbnails.medium.url">

    <ion-card-content>
      <ion-card-title>
        {{ video?.snippet.title }} 
      </ion-card-title>
      <p>
          {{ video?.snippet.publishedAt | moment:'dddd, MMMM Do, YYYY' }}
      </p>
    </ion-card-content>
  </ion-card>


</ion-content>