page-sermons {
    ion-card{
        position: relative;

        img{
            position: relative;
            z-index: 0;
        }

        ion-icon{
            position: absolute;
            z-index: 1;
            color: rgba(255, 0, 0, 0.534);
            font-size: 4em;
            top: 63px;
            left: 40%;
        }
    }

    ion-card-title{
        font-size: 1em !important;
        margin: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 5px !important;
        font-weight: 600;

        p{
            color: #ccc !important;
            font-size: 0.9em !important;
        }
    }

    ion-card-content{
        p{
            color: #666 !important;
            font-size: 0.9em !important;
        }
    }
}
